[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
easygui = "*"
pypdf2 = "*"
requests = "*"
bs4 = "*"
mechanicalsoup = "*"
numpy = "*"
matplotlib = "*"
autopep8 = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.10"
